<div class="container">
    <h2>Api Summary</h2>
    <hr/>
    <div class='well bs-callout bs-callout-info'>
        <label>Total Api's:</label> {{totalApiCount}}<br/>
        <label>Successful Api's:</label> {{totalSuccededApiCount}}<br/>
        <label>Failed Api's:</label> {{totalFailedApiCount}}<br/>
        <label>Last Run Date:</label> {{lastRunDate.toLocaleString()}}<br/><br/>
        <label>Click <a href='{{runApiLink}}'>here</a> to run api health check</label>
    </div>
    <h2>Top Apis</h2>
    <hr/>
    <div class='row'>
        <div style='margin-right:15px;text-align: center;' class='col-md-3 well' *ngFor='let apid of apiList'>
            <h3>
                <a href='{{"/apis/" + apid.id}}'>
                    {{apid.name}}
                </a>
            </h3>
        </div>
    </div>
</div>
